@import "./assets/fonts/fonts.css";

* {
  font-size: 10px;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Arsenal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ais-SearchBox-input{
  background: red;
}
